@import "../../helpers/variables.scss";
@import "../../helpers/mixins.scss";

.hiring {
  padding-top: 150px;
  padding-bottom: 150px;
  display: grid;
  @include grid-cols-12;

  @media screen and (min-width: $breakpoint-lg) {
    padding-top: 5rem;
  }

  h3,
  h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font-rubik;
    font-size: 1.25rem;
    line-height: 1.75rem;

    @media screen and (min-width: $breakpoint-lg) {
      font-size: 40px;
    }
  } 
  
  .title {
    text-align: center;
    margin-bottom: 80px;
    @include col-span-12;
    
    @media screen and (min-width: $breakpoint-lg) {
      @include col-span-10;
      @include col-start-2;
    }

    h1,
    h2 {
      text-transform: uppercase;
      font-weight: bold;
      font-family: $font-rubik;
      font-size: 2.25rem;
      line-height: 2.5rem;
      margin-bottom: 0.625rem;

      @media screen and (min-width: $breakpoint-lg) {
        font-size: 3.4375rem;
        text-indent: -1px;
        line-height: 3.5rem;
      }
    }

    P{
      line-height: 1.25rem;
    }
  }

  .lists {
    @include col-span-12;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 2.5rem;

    @media screen and (min-width: $breakpoint-lg) {
      column-gap: 5rem;
      row-gap: 0;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .list {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      &.list-3::after {
        content: none;
      }

      &::after {
        @media screen and (min-width: $breakpoint-lg) {
          content: "";
          position: absolute;
          background-image: url("../../dist/icons/arrow-right.svg");
          right: -2.5rem;
          top: 0;
          width: 1.875rem;
          height: 20.5625rem;
          transform: translateY(50%);
          background-size: 1.5625rem;
          background-repeat: no-repeat;
        }
      }

      .icon {
        background-color: $f-color;
        border-radius: 99999px;
        width: 7.6875rem;
        height: 7.6875rem;
        margin-bottom: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 4.375rem;
          height: 4.375rem;
          object-fit: contain;
        }
      }           

      .content
      {
        text-align: center;
    
        .content-title
        {
          text-transform: uppercase;
          font-weight: bold;
          font-family: $font-rubik;
          font-size: 1rem;
          line-height: 1.875rem;  
          
          @media screen and (min-width: $breakpoint-lg) {
            font-size: 1.25rem;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
          }
        }
      }
    }
    
  }


}