@import "../../helpers/variables.scss";
@import "../../helpers/mixins.scss";

.banners{
  position: relative;

  @media screen and (min-width: $breakpoint-lg) {
    color: $white;
  }

  .swiper-slide{
    overflow-y: hidden;
    background-color: $f-color;
    color: $white;
    padding-bottom: 5rem;

    @media screen and (min-width: $breakpoint-lg) {
      height: 40.625rem;
      background-color: inherit;
      color: inherit;
      padding-bottom: 0;
    }  

    .default-heading-title {
      padding: 0 1rem;
      row-gap: 0.625rem;
    
      @media screen and (min-width: $breakpoint-md) {
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
      }
      
      @media screen and (min-width: $breakpoint-lg) {
        max-width: 64rem;
        position: absolute;
        right: 0;
        bottom: 0;
        justify-content: end;
        padding: 2.5rem 2.5rem 5rem 2.5rem;
        background-color: #175c91e0;
        border-radius: 2.5rem 2.5rem 0 0;

        h1 {
         max-width: 56.25rem;
        }
      }
    
      @media screen and (min-width: $breakpoint-xl) {
        max-width: 80rem;
      }
    
      @media screen and (min-width: $breakpoint-2xl) {
        max-width: 96rem;
      }
    
      h1,
      h2 {
        text-transform: uppercase;
      }
    
      h1 {
        text-transform: uppercase;
        font-weight: bold;
        font-family: $font-rubik;
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin-top: 0.625rem;
        
        @media screen and (min-width: $breakpoint-lg) {
          font-size: 3.4375rem;
          text-indent: -1px;
          line-height: 3.5rem;
        }
      }
    }
  }

}

.swiper-button-next.arrow-swiper-next,
.swiper-button-prev.arrow-swiper-prev {
  display: none;
  
  @media screen and (min-width: $breakpoint-lg) {
    display: flex;
  }
}

.swiper-button-next.arrow-swiper-next {
  right: 1.875rem;
}

.swiper-button-prev.arrow-swiper-prev {
  left: 1.875rem;
}

.arrow-swiper-prev::after {
  transform: rotate(180deg);
}