$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-1_5xl: 1440px;
$breakpoint-2xl: 1536px;

$white: #fff;
$black: #000;
$green: #61CE70;
$yellow: #F2C451;
$yellow-light: #FDE374;
$orange: #C3721B;
$gray: #9babab;
$gray-light: #E7E7E7;
$gray-dark: #2E2E2E;
$gray-darkness: #1C1C1C;

$font-rubik: "Rubik", sans-serif;
$font-ubuntu: "Ubuntu", sans-serif;

